html {
  font-family: $font-family-primary;
  font-size: $font-s;
  font-weight: $font-regular;
  max-width: 100%;
}
body {
  font-family: $font-family-primary;
  font-size: $font-s;
  font-weight: $font-regular;
  max-width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  color: $color-black;
}
section {
  width: 100%;
  float: left;
  clear:both;
  &.white-bg {
    background-color: $color-white!important;
  }
}
.content {
  width: $screen-wide;
  margin: auto;
}

.section-break {
  background: #f2f2f2;
  text-align: center;
  line-height: 30px;
  font-size: 11px;
}
