a {
  color: $color-black;
  &:hover {
    color: lighten($color-black, 10%);
  }
  &.action-link {
    color: $color-black;
    &:hover {
      color: lighten($color-black, 10%);
    }
  }
}

.text-muted {
  color: lighten($color-black, 20%)!important;
}

h1 {
  margin-bottom: 0px;
}
